In [1]:
# Title: Blast Wave simulation
# Author: Eric Henschel
# R = S(gamma) * E^(1/5) * (rho_o)^(-1/5)*t^(2/5)
# initial conditions::
# u(0, r) = 0 m/s
# p(0, r) = 101 kPa
# rho(0, r) = 1.225 kg/m^3


# E = 5.36*rho_o*A^2

In [140]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [79]:
# specific heat of dry air
gamma = 1.4

# initial vel
u_o = 0 # m/s

# initial pressure
p_o = 101000. # kPa

# air density
rho_o = 1.225 # kg/m^3

In [37]:
# list of nuclear weapon energy outputs
# sourced: https://en.wikipedia.org/wiki/Nuclear_weapon_yield

atoms = [{'name': 'Davy Crockett', 'out': 0.02},
        {'name': 'AIR-2 Genie', 'out': 1.5},
        {'name': 'Little Boy', 'out': 18.0},
        {'name': 'Fat Man', 'out': 22.0},
        {'name': 'W76 warhead', 'out': 100.0},
        {'name': 'W87 warhead', 'out': 300.0},
        {'name': 'W88 warhead', 'out': 475.0},
        {'name': 'Ivy King', 'out': 500.0},
        {'name': 'Orange Herald Small', 'out': 720.0},
        {'name': 'B83 nuke', 'out': 1200.0},
        {'name': 'B53 nuke', 'out': 9000.0},
        {'name': 'Tsar Bomba', 'out': 50000.0},
        {'name': 'Sum_Tests', 'out': 510300.0}]

df = pd.DataFrame(atoms)
df

                   name        out
0         Davy Crockett       0.02
1           AIR-2 Genie       1.50
2            Little Boy      18.00
3               Fat Man      22.00
4           W76 warhead     100.00
5           W87 warhead     300.00
6           W88 warhead     475.00
7              Ivy King     500.00
8   Orange Herald Small     720.00
9              B83 nuke    1200.00
10             B53 nuke    9000.00
11           Tsar Bomba   50000.00
12            Sum_Tests  510300.00

In [42]:
# Energy output to list; names to list
names = []
energOut = []
for i, row in df.iterrows():
    out = row['out']
    name = row['name']
    energOut.append(out)
    names.append(name)

In [5]:
# Energy Kilotons --> Joules
def energyConversion(E):
    return E * (4.184*10**12)

In [6]:
# radius of shock wave
def radius(t, energy):
    rho_o = 1.225 # kg/m^3
    return (1.031) * energy**(1./5) * rho_o**(-1./5) * t**(2./5)

In [7]:
# B is taken from 
# https://www3.nd.edu/~powers/ame.90931/taylor.blast.wave.I.pdf
# pg. 167
def velocity(radius, energy):
    rho_o = 1.225 # kg/m^3
    B = 2.31 # 0.926 * (5/2)
    return radius**(-3./2) * energy**(1/2) * (B*rho_o)**(-1./2)

In [8]:
# max pressure
def pressure(radius, energy):
    return 0.155*radius**(-3.)*energy

In [138]:
# simulating 
# radial expansion w.r.t. time
# velocity w.r.t. radius
# pressure w.r.t. radius
sims = pd.DataFrame()
rads = pd.DataFrame()
vels = pd.DataFrame()
pressures = []
for e, name in zip(energOut, names):
    #print(e)
    E = energyConversion(e)
    rad = []
    vel = [u_o]
    pres = [p_o]
    time = []
    
    for i in range(100):
        t = float(i)/(10**7)

        r = radius(t, E)
        rad.append(r)
        time.append(t)
        
    for r in rad[1:]:
        v = velocity(r, E)
        vel.append(v)

        p = pressure(r, E)
        pres.append(p)

    nameArr = np.repeat(name)
    # dataframe for radius
    rads['time'] = time
    rads['radius'] = rad

    # dataframe for velocity
    vels['radius'] = rad
    vels['velocity'] = vel

    # dataframe for pressure
    vels['radius'] = rad
    vels['pressure'] = pres

'Davy Crockett'

            Time    Radius      Velocity      Pressure
0   0.000000e+00  0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07  0.239969  1.462861e+06  9.386118e+11
2   2.000000e-07  0.316641  9.651285e+05  4.085545e+11
3   3.000000e-07  0.372395  7.567116e+05  2.511542e+11
4   4.000000e-07  0.417811  6.367473e+05  1.778337e+11
..           ...       ...           ...           ...
95  9.500000e-06  1.483355  9.518510e+04  3.973907e+09
96  9.600000e-06  1.489582  9.458895e+04  3.924285e+09
97  9.700000e-06  1.495769  9.400265e+04  3.875787e+09
98  9.800000e-06  1.501918  9.342594e+04  3.828377e+09
99  9.900000e-06  1.508030  9.285857e+04  3.782020e+09

[100 rows x 4 columns]

'AIR-2 Genie'

            Time    Radius      Velocity      Pressure
0   0.000000e+00  0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07  0.569073  3.469089e+06  5.278500e+12
2   2.000000e-07  0.750896  2.288745e+06  2.297601e+12
3   3.000000e-07  0.883114  1.794497e+06  1.412424e+12
4   4.000000e-07  0.990814  1.510008e+06  1.000089e+12
..           ...       ...           ...           ...
95  9.500000e-06  3.517689  2.257258e+05  2.234818e+10
96  9.600000e-06  3.532454  2.243121e+05  2.206912e+10
97  9.700000e-06  3.547127  2.229217e+05  2.179638e+10
98  9.800000e-06  3.561709  2.215541e+05  2.152976e+10
99  9.900000e-06  3.576203  2.202086e+05  2.126906e+10

[100 rows x 4 columns]

'Little Boy'

            Time    Radius      Velocity      Pressure
0   0.000000e+00  0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07  0.935415  5.702321e+06  1.426209e+13
2   2.000000e-07  1.234287  3.762129e+06  6.207933e+12
3   3.000000e-07  1.451619  2.949707e+06  3.816256e+12
4   4.000000e-07  1.628652  2.482079e+06  2.702160e+12
..           ...       ...           ...           ...
95  9.500000e-06  5.782208  3.710372e+05  6.038300e+10
96  9.600000e-06  5.806478  3.687134e+05  5.962900e+10
97  9.700000e-06  5.830596  3.664279e+05  5.889209e+10
98  9.800000e-06  5.854566  3.641799e+05  5.817170e+10
99  9.900000e-06  5.878390  3.619683e+05  5.746730e+10

[100 rows x 4 columns]

'Fat Man'

            Time    Radius      Velocity      Pressure
0   0.000000e+00  0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07  0.973721  5.935833e+06  1.545408e+13
2   2.000000e-07  1.284832  3.916189e+06  6.726778e+12
3   3.000000e-07  1.511064  3.070499e+06  4.135210e+12
4   4.000000e-07  1.695346  2.583721e+06  2.928000e+12
..           ...       ...           ...           ...
95  9.500000e-06  6.018992  3.862313e+05  6.542968e+10
96  9.600000e-06  6.044255  3.838123e+05  6.461266e+10
97  9.700000e-06  6.069362  3.814333e+05  6.381415e+10
98  9.800000e-06  6.094313  3.790932e+05  6.303356e+10
99  9.900000e-06  6.119112  3.767910e+05  6.227029e+10

[100 rows x 4 columns]

'W76 warhead'

            Time    Radius      Velocity      Pressure
0   0.000000e+00  0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07  1.318104  8.035208e+06  2.831875e+13
2   2.000000e-07  1.739249  5.301260e+06  1.232645e+13
3   3.000000e-07  2.045494  4.156467e+06  7.577545e+12
4   4.000000e-07  2.294953  3.497527e+06  5.365399e+12
..           ...       ...           ...           ...
95  9.500000e-06  8.147779  5.228330e+05  1.198963e+11
96  9.600000e-06  8.181977  5.195584e+05  1.183991e+11
97  9.700000e-06  8.215963  5.163380e+05  1.169359e+11
98  9.800000e-06  8.249739  5.131703e+05  1.155055e+11
99  9.900000e-06  8.283309  5.100538e+05  1.141069e+11

[100 rows x 4 columns]

'W87 warhead'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   1.642003  1.000971e+07  4.394632e+13
2   2.000000e-07   2.166636  6.603944e+06  1.912875e+13
3   3.000000e-07   2.548136  5.177840e+06  1.175918e+13
4   4.000000e-07   2.858894  4.356978e+06  8.326271e+12
..           ...        ...           ...           ...
95  9.500000e-06  10.149940  6.513092e+05  1.860605e+11
96  9.600000e-06  10.192542  6.472300e+05  1.837372e+11
97  9.700000e-06  10.234879  6.432182e+05  1.814665e+11
98  9.800000e-06  10.276955  6.392721e+05  1.792467e+11
99  9.900000e-06  10.318774  6.353898e+05  1.770762e+11

[100 rows x 4 columns]

'W88 warhead'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   1.800066  1.097326e+07  5.281429e+13
2   2.000000e-07   2.375202  7.239655e+06  2.298876e+13
3   3.000000e-07   2.793425  5.676271e+06  1.413208e+13
4   4.000000e-07   3.134097  4.776391e+06  1.000644e+13
..           ...        ...           ...           ...
95  9.500000e-06  11.126996  7.140057e+05  2.236058e+11
96  9.600000e-06  11.173700  7.095338e+05  2.208137e+11
97  9.700000e-06  11.220112  7.051359e+05  2.180848e+11
98  9.800000e-06  11.266238  7.008099e+05  2.154171e+11
99  9.900000e-06  11.312083  6.965539e+05  2.128086e+11

[100 rows x 4 columns]

'Ivy King'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   1.818628  1.108641e+07  5.390909e+13
2   2.000000e-07   2.399694  7.314306e+06  2.346530e+13
3   3.000000e-07   2.822229  5.734801e+06  1.442502e+13
4   4.000000e-07   3.166415  4.825642e+06  1.021386e+13
..           ...        ...           ...           ...
95  9.500000e-06  11.241732  7.213682e+05  2.282410e+11
96  9.600000e-06  11.288917  7.168502e+05  2.253910e+11
97  9.700000e-06  11.335808  7.124069e+05  2.226055e+11
98  9.800000e-06  11.382410  7.080362e+05  2.198825e+11
99  9.900000e-06  11.428727  7.037364e+05  2.172200e+11

[100 rows x 4 columns]

'Orange Herald Small'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   1.956214  1.192514e+07  6.237449e+13
2   2.000000e-07   2.581239  7.867661e+06  2.715007e+13
3   3.000000e-07   3.035741  6.168661e+06  1.669020e+13
4   4.000000e-07   3.405966  5.190720e+06  1.181776e+13
..           ...        ...           ...           ...
95  9.500000e-06  12.092211  7.759424e+05  2.640819e+11
96  9.600000e-06  12.142966  7.710826e+05  2.607844e+11
97  9.700000e-06  12.193404  7.663031e+05  2.575615e+11
98  9.800000e-06  12.243532  7.616018e+05  2.544109e+11
99  9.900000e-06  12.293353  7.569767e+05  2.513303e+11

[100 rows x 4 columns]

'B83 nuke'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   2.166636  1.320789e+07  7.651499e+13
2   2.000000e-07   2.858894  8.713956e+06  3.330508e+13
3   3.000000e-07   3.362285  6.832201e+06  2.047392e+13
4   4.000000e-07   3.772333  5.749067e+06  1.449688e+13
..           ...        ...           ...           ...
95  9.500000e-06  13.392926  8.594077e+05  3.239502e+11
96  9.600000e-06  13.449140  8.540251e+05  3.199050e+11
97  9.700000e-06  13.505004  8.487315e+05  3.159515e+11
98  9.800000e-06  13.560524  8.435246e+05  3.120867e+11
99  9.900000e-06  13.615704  8.384019e+05  3.083076e+11

[100 rows x 4 columns]

'B53 nuke'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   3.241890  1.976267e+07  1.713054e+14
2   2.000000e-07   4.277700  1.303850e+07  7.456500e+13
3   3.000000e-07   5.030913  1.022287e+07  4.583799e+13
4   4.000000e-07   5.644458  8.602202e+06  3.245630e+13
..           ...        ...           ...           ...
95  9.500000e-06  20.039539  1.285913e+06  7.252750e+11
96  9.600000e-06  20.123651  1.277859e+06  7.162185e+11
97  9.700000e-06  20.207239  1.269938e+06  7.073672e+11
98  9.800000e-06  20.290312  1.262147e+06  6.987145e+11
99  9.900000e-06  20.372877  1.254482e+06  6.902538e+11

[100 rows x 4 columns]

'Tsar Bomba'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   4.568186  2.784782e+07  3.401434e+14
2   2.000000e-07   6.027758  1.837271e+07  1.480560e+14
3   3.000000e-07   7.089119  1.440517e+07  9.101574e+13
4   4.000000e-07   7.953674  1.212147e+07  6.444512e+13
..           ...        ...           ...           ...
95  9.500000e-06  28.237954  1.811995e+06  1.440103e+12
96  9.600000e-06  28.356477  1.800646e+06  1.422121e+12
97  9.700000e-06  28.474262  1.789485e+06  1.404546e+12
98  9.800000e-06  28.591320  1.778507e+06  1.387365e+12
99  9.900000e-06  28.707664  1.767706e+06  1.370565e+12

[100 rows x 4 columns]

'Sum_Tests'

            Time     Radius      Velocity      Pressure
0   0.000000e+00   0.000000  0.000000e+00  1.010000e+05
1   1.000000e-07   7.269673  4.431617e+07  8.613988e+14
2   2.000000e-07   9.592391  2.923777e+07  3.749456e+14
3   3.000000e-07  11.281410  2.292395e+07  2.304935e+14
4   4.000000e-07  12.657236  1.928973e+07  1.632046e+14
..           ...        ...           ...           ...
95  9.500000e-06  44.937027  2.883554e+06  3.647001e+12
96  9.600000e-06  45.125642  2.865494e+06  3.601461e+12
97  9.700000e-06  45.313081  2.847733e+06  3.556953e+12
98  9.800000e-06  45.499364  2.830262e+06  3.513443e+12
99  9.900000e-06  45.684510  2.813074e+06  3.470899e+12

[100 rows x 4 columns]

In [139]:
#simulation

In [116]:
# t = simulation['Sims'][0]['Time']
# r = simulation['Sims'][0]['Radius']
import plotly.express as px
df = px.data.gapminder().query("continent != 'Asia'")
display(df)

# fig = px.line(simulation)
# fig.show()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8
16,Albania,Europe,1972,67.690,2263554,3313.422188,ALB,8
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716